@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 615px;
    padding: 10px;
    margin: auto;
    font-weight: normal;

}

h1 {
    background-color: #2C3B6A;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #263155ad;
    width: 615px;
    padding: 5px;
    margin: auto;
    font-weight: normal;
    color:  #fff;
    text-align: center;
}
h2 {
    color: #007DC3;
    text-shadow: 1px 1px 2px #007cc34b;
    text-align: left;
}


p {
    font-size: 1.1em;
    width: 350px;
    margin: auto;
    text-align: justify;
}

main {
    background-color: #8a95a546;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8a95a5c0;
    width: 600px;
    padding: 10px;
    margin: auto;
}
#perfil {
    display: flex;
    text-align: justify;
}

.countainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.item {
    padding: 5px;
    margin: 5px 0;
}
